#page > footer {
    padding: 20px;
    border-bottom: 50px solid $childcarebath_purple;

    .footer-contact {
        p {
            margin: 0;
            font-size: 11px;
            color: $childcarebath_purple;
        }
    }
}